.class {
    text-align: center;
}
.class h1 {
    margin: 0px;
}
.class button {
    margin:0px;
    background-color: #ff4a002e;
}
.class button:hover {
    background-color: aqua;
}
.class h1, hr{
margin:0px;
}
